body {
    margin: 0;
    font-family: Ubuntu, sans-serif;
    background-color: rgb(248, 248, 248);
}

.logo {
    display: block;
    width: 140px;
    margin: 0px auto 40px;
}

.logo {
    vertical-align: middle;
}

#menu {
    height: 50px;
    margin-top: 10px;
    line-height: 50px;
    background-color: white;
}


#main .container {
    width: 1000px;
    margin: 0 auto;
}

#main .column {
    float: left;
    width: 50%;
    background-color: rgb(248, 248, 248);

}

#footer {
    clear: both;
}

.block {
    margin: 10px 10px;
    background-color: white;
    padding: 20px;
}

#dashboard #welcome {
    width: 100%;
    text-align: center;
}

#dashboard h1 {
    color: rgb(30, 140, 248);
    border: 0;
    width: 100%;
    text-align: center;
}

#dashboard .block {
    font-size: 14px;
}

#dashboard .block h2 {
    font-size: 16px;
    margin-bottom: 20px;
    padding-left: 20px;
}

#dashboard .block .actions {
    margin-top: 10px;
}

#dashboard .block .receipt {
    background-color: #E1F1FE;
    padding: 10px;
}

#dashboard .block .receipt .date{
    font-weight: bold;
    color: rgb(30, 140, 248);
}

#dashboard .block .actions a {
    text-decoration: none;
    color: rgb(30, 140, 248);
    font-weight: bold;
}


#dashboard .block .company {
   font-weight: bold;
}

#dashboard .block .address {
    margin: 0;
    color: gray;
}


#login-container {
    z-index: 2;
    background-color: rgb(30, 140, 248);
    background-image: url(/img/icons/henry-chill.png), url(/img/icons/buoy.png), url(/img/icons/sand.png), linear-gradient(to right, rgb(30, 140, 248), rgb(57, 46, 249));
    background-size: auto 40vh, auto 20vh, auto 50vh, contain;
    min-height: 100vh;
    position: absolute;
    width: 100%;
    background-position: right 10% top 60%, left 5% bottom 5%, left top;
    background-repeat: no-repeat;
}

#login {
    background-color: rgb(255, 255, 255);
    max-width: 480px;
    width: 96%;
    padding: 40px;
    border-radius: 8px;
    margin: 3% auto;
}


#login input {
    color: rgb(30, 140, 248);
    text-overflow: ellipsis;
    background-color: transparent;
    font-size: 1.2rem;
    font-weight: 500;
    display: block;
    width: 100%;
    border-top-width: initial;
    border-right-width: initial;
    border-left-width: initial;
    border-top-color: initial;
    border-right-color: initial;
    border-left-color: initial;
    color: rgb(0, 30, 56);
    padding: 4px 0px;
    border-style: none none solid;
    border-image: initial;
    border-bottom: 2px solid rgb(203, 210, 216);
}

#login button {
    margin-bottom: 15px;
}

#login button.submit {
    position: relative;
    text-transform: uppercase;
    display: block;
    white-space: nowrap;
    text-align: center;
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    max-width: 100%;
    color: rgb(255, 255, 255) !important;
    border-radius: 40px;
    padding: 14px 20px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    transition: all 150ms ease 0s;
    background: linear-gradient(to right, rgb(30, 140, 248), rgb(57, 46, 249));
}

#login form > .error {
    background-color: rgb(255, 206, 208);
    color: rgb(255, 51, 56);
    margin-bottom: 50px;
    padding: 10px 20px;
    border-radius: 4px;
}

.input-wrapper {
    position: relative;
    margin-bottom: 60px;
    text-align: left;
}

.forget-password {
    position: relative;
    text-transform: uppercase;
    display: block;
    white-space: nowrap;
    text-align: center;
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    max-width: 100%;
    background-color: transparent;
    color: rgb(124, 142, 157) !important;
    border-radius: 40px;
    transition: all 150ms ease 0s;
    padding: 12px 20px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(203, 210, 216);
    border-image: initial;
}

#login input + .error {
    color: rgb(255, 51, 56);
}

